<!--For a single Lounge/Subpage-->
<p id="notice"><%= notice %></p>

<h2><%= @lounge.name %></h2>

<p>
  <b>Description:</b>
  <%= @lounge.description %>
</p>

<p><%= link_to 'Submit a Post', new_post_path(lounge_id: @lounge) %></p>
<br>
<table>
	<%= render(@lounge.posts) %>
</table>





<!--<%= button_to 'Submit a Post', new_post_path(lounge_id: @lounge), :method => :get %> ... button_to doesn't work for some reason -->

