<div class="row-fluid row">	
	<div class="span9 span-fixed-sidebar">
		<div class="hero-unit">
			<h1><%= @lounge.name %></h1>
			<br>
				<div id="post-container">
					<%= render @lounge %>
				</div>
		</div>
	</div>

	<div class="span3">
		<div class="well sidebar-nav-fixed">
			<!--<div id="bucket"><%= image_tag 'bucket.png' %></div>-->
			<p>
			  <b>Description:</b>
			  <%= @lounge.description %>
			</p>
			<p><%= link_to 'Submit a Post', new_post_path(lounge_id: @lounge) %></p>
		</div>
	</div>
</div>

