<br>
<%= form_for @post, :html => { :multipart => true }  do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label :subject %><br />
  <div class="controls">
    <%= form.text_field :subject, :class => "input-large" %>
  </div>

    <%= form.label :description %><br />
  <div class="controls">
    <%= form.text_area :description, rows: 6, :class => "input-large" %>
  </div>
	<div class="field">
		<%= form.label :photo %>
		<%= form.file_field :photo %>
	</div>
	<%= form.hidden_field :lounge_id, :value => @lounge.id %>  <!--track lounge-->

	<br>
  <div class="actions">
    <%= form.submit "Submit Post"%>
  </div>
<% end %>
