<tr>
	<td><div class="like-count"><%= post.likes.count %></div></td>
	<td>
		<% if current_user.nil? %>
			<div class="like-image"><%= link_to image_tag("grey heart.png", mouseover: "red heart.png"), 
				new_user_session_path %></div>
		<% else %>
			<% @like = current_user.likes.find_by_post_id(post.id) %>
			<% if @like.nil?%>
				<div class="like-image"><%= link_to image_tag("grey heart.png", mouseover: "red heart.png"), {:controller => 'lounges', :action => 'like', :post_id => post.id, :user_id => current_user.id, :id => post.lounge_id}, {:remote => true } %></div>
			<% else %>
				<div class="like-image"><%= link_to image_tag("red heart.png", mouseover: "grey heart.png"), {:controller => 'lounges', :action => 'unlike', :post_id => post.id, :like_id => @like.id, :id => post.lounge_id }, {:remote => true} %></div>
			<% end %>
		<% end %>
	</td>
	<td><div class="post-image"><%= link_to image_tag(post.photo.url(:thumb)), post_path(post.id) %></div></td>


	<td><div class="post-subject"><%= link_to post.subject, post_path(post.id) %></div>
		<div class="post-author">by <%= post.author %>, <i>submitted <%= time_ago_in_words(post.created_at) %> ago</i></div>
		<div class="post-comments"><%= post.num_comments %> comments</div>
	</td>
</tr>