<tr>
	<td>
		<% if current_user.nil? %>
			<%= link_to image_tag("blue arrow.png", alt: "like", width:25 ), 
				new_user_session_path %>
		<% else %>
			<% @like = current_user.likes.find_by_post_id(post.id) %>
			<% if @like.nil?%>
				<%= link_to image_tag("blue arrow.png", alt: "like", width:25 ), 
					{:controller => 'likes', :action => 'create', :post_id => post.id, :user_id => current_user.id}, {:method => :post } %>
			<% else %>
				<%= link_to image_tag("red arrow.png", alt: "unlike", width:25 ), 
					@like, :method => :delete %>
			<% end %>
		<% end %>
	</td>
	<td><%= pluralize(post.likes.count, 'like') %></td> <!--not sure about .count -->
	<td><%= image_tag post.photo.url(:thumb) %></td>
	<td><%= link_to post.subject, post_path(post.id) %></td>
</tr>

<!--, -->