<div class="row-fluid row">	
	<div class="span8 span-fixed-sidebar">
		<div class="hero-unit">
			<h3 style="display:inline-block; padding-right:10px"><%= @post.subject %></h3>by <%= @username %>
			<br>
			<%= image_tag @post.photo.url(:medium) %>
			<br><br>
		  <b>Comments:</b>
			<table>	
					<%= render(@post.comments) %>
			</table>
		</div>
	</div>

	<div class="span4">
		<div class="well sidebar-nav-fixed">
			<p>
				<table>
					<tr>
						<td><div class="like-count"><%= @post.likes.count %></div></td>
						<td>
							<% if current_user.nil? %>
								<div class="like-image"><%= link_to image_tag("grey heart.png", mouseover: "red heart.png", onclick: "red heart.png", alt: "like"), 
									new_user_session_path %></div>
							<% else %>
								<% @like = current_user.likes.find_by_post_id(@post.id) %>
								<% if @like.nil?%>
									<div class="like-image"><%= link_to image_tag("grey heart.png", mouseover: "red heart.png", onclick: "red heart.png", alt: "like"), {:controller => 'likes', :action => 'create', :post_id => @post.id, :user_id => current_user.id}, {:method => :post } %></div>
								<% else %>
									<div class="like-image"><%= link_to image_tag("red heart.png", mouseover: "grey heart.png", alt: "unlike"), @like, {:method => :delete} %></div>
								<% end %>
							<% end %>
						</td>
					</tr>
				</table>
			</p>
			<p>
			  <b>Description:</b>
			  <%= @post.description %>
			</p>
			<p>
				<% if current_user %>
			  	<b>Leave a Comment:</b>
					<%= render 'comments/form' %>	
				<% else %>
					Please <%= link_to 'sign in', new_user_session_path %> to make a comment
				<% end %>
			</p>
			
			<!--<p><%= link_to 'Submit a Post', new_post_path(lounge_id: @lounge) %></p>-->
		</div>
	</div>
</div>


<!--Edit link only shows up for the user that created the post-->
<% if current_admin || (!current_user.nil? && (current_user.id ==  @post.user_id)) %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back to Lounge', lounge_path(@post.lounge_id) %>
