<div class="row-fluid row">	
	<div class="span8 span-fixed-sidebar">
		<div class="hero-unit">
			<div id="title-wrapper">
				<div id="change-on-like"><%= render :partial => 'posts/like_count_and_heart', :locals => {:post => @post} %></div>
				<div id="right-wrapper">
					<span class="subject-heading"><%= @post.subject %></span>
					<br> by <%= @post.author %>, <i>submitted <%= time_ago_in_words(@post.created_at) %> ago</i>
				</div>
			</div>
		
			<!--Comments-->
			<br>
		  <br><b>Comments:</b>
			<p>
				<% if current_user %>
					<%= render :partial => 'comments/form', :locals => {} %>	
				<% else %>
					Please <%= link_to 'sign in', new_user_session_path %> to make a comment
				<% end %>
			</p>			
			<!--Comment Table-->
			<div id="comment-table"><%= render :partial => 'posts/comment_table', :locals => {:post => @post} %></div>
			
		</div>
	</div>

	<div class="span4">
		<div class="well sidebar-nav-fixed-400">
			<%= image_tag @post.photo.url(:medium) %>
			<br><br>
			<p>
			  <b>Description:</b>
			  <%= @post.description %>
			</p>
			
			<br>
			<!--Edit link only shows up for the user that created the post-->
			<% if current_admin || (!current_user.nil? && (current_user.id ==  @post.user_id)) %>
				<%= link_to 'Edit Post', edit_post_path(@post) %> &nbsp;&nbsp;
				<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
				<br><br>
			<% end %>
			<%= link_to 'Back to Lounge', lounge_path(@post.lounge_id) %>
						
		</div>
	</div>

</div>



