<div class="row-fluid row">	
	<div class="span8 span-fixed-sidebar">
		<div class="hero-unit">
			<h3 style="display:inline-block; padding-right:10px"><%= @post.subject %></h3>by <%= @username %>
			<br>
			<%= image_tag @post.photo.url(:medium) %>
			<br><br>
		  <b>Comments:</b>
			<table>	
					<%= render(@post.comments) %>
			</table>
		</div>
	</div>

	<div class="span4">
		<div class="well sidebar-nav-fixed">
			<p>
				<div id="like-view">
				<%= render :partial => 'posts/like_count_and_heart',  :locals => {:post => @post} %>
				</div>
			</p>
			<p>
			  <b>Description:</b>
			  <%= @post.description %>
			</p>
			<p>
				<% if current_user %>
			  	<b>Leave a Comment:</b>
					<%= render 'comments/form' %>	
				<% else %>
					Please <%= link_to 'sign in', new_user_session_path %> to make a comment
				<% end %>
			</p>
			
			<!--<p><%= link_to 'Submit a Post', new_post_path(lounge_id: @lounge) %></p>-->
		</div>
	</div>
</div>


<!--Edit link only shows up for the user that created the post-->
<% if current_admin || (!current_user.nil? && (current_user.id ==  @post.user_id)) %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back to Lounge', lounge_path(@post.lounge_id) %>
