<!DOCTYPE html>
<html>
<head>
  <title>ULounge</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "general", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<p id="notice"><%= notice %></p>
	<%= render :partial => 'layouts/navbar' %>

	<div class="container-fluid">
		<%= yield %>
	</div>
	
	<script type="text/javascript" src="http://webplayer.yahooapis.com/player.js"></script>
	
	<script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>   
	<script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
	 <script type="text/javascript">  
       $(document).ready(function () {  
           $('.dropdown-toggle').dropdown();  
       });  
  </script> 
</body>
</html>
