<!DOCTYPE html>
<html>
<head>
  <title>ULounge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<ul class="hmenu">
		<%= link_to 'Home', bucketlist_path %>		
	</ul>
	<ul class="hmenu">
		<!--User:-->
	  <%= render 'devise/menu/login_items' %>
		<%= render 'devise/menu/registration_items' %>
		<!--
		Admin: 
	  <%= render 'devise/menu/admin_login_items' %>
		<%= render 'devise/menu/admin_registration_items' %>
		-->
	</ul>
	<%= yield %>

</body>
</html>
